body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: azure;
  display: center;
}



header {
flex-direction: center ;
display: center;
text-align: center;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000;
  border-left: 1px solid #000;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  background-color: #903baa;
  border-radius: 3px;
  border-color: #000;
}

.hour {
  background-color: #542563;
  color: #abe2f8;
  text-align: center;
  text-size-adjust: 15px;
  padding: 10px;

}

.past {
  background-color: #d3d3d3;
  color: #fff;
}

.present {
  background-color: #ff6961;
  color: #fff;
}

.future {
  background-color: #77dd77;
  color: #fff;
}

.saveBtn {
  background-color: #06aed5;
  color: #fff;
  border: solid 2px;
  border-radius: 3px;
  border-color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}